<div id="up_button"><i class="bi bi-chevron-up"></i></div>
<div id="contact"><i class="bi bi-chat"></i></div>
<main class="container" style="background-color: #eee; min-height: 100px">
  <div class="slideshow d-flex justify-content-center">
    <div class="slideshow_left">
      <app-slideshow></app-slideshow>
    </div>
    <div class="slideshow_right">
      <div class="slideshow_right_top">
        <img
          src="assets/User/images/anh1.jpg"
          style="width: 100%; height: 100%"
        />
      </div>
      <div class="slideshow_right_bot">
        <img
          src="assets/User/images/anh2.jpg"
          style="width: 100%; height: 100%"
        />
      </div>
    </div>
  </div>

  <div class="container banner_category">
    <div class="banner_category_left">
      HỌC TẬP, VĂN PHÒNG
      <div class="triangle"></div>
    </div>
    <div class="banner_category_right">
      <div style="font-size: 16px; font-weight: 600">Thương hiệu :</div>
      <div><a href="#">DELL</a></div>
      <div><a href="#">LENOVO</a></div>
      <div><a href="#">HP</a></div>
      <div><a href="#">APPLE</a></div>
      <div><a href="#">ASUS</a></div>
      <div><a href="#">LG</a></div>
      <div><a href="#">TUF</a></div>
    </div>
  </div>

  <div class="container row" id="product_container">
    <!-- product -->
    <div class="col-md-3 col-sm-4 product">
      <div>
        <img
          src="assets/User/images/cc1.jpg"
          class="product_image"
          alt="ảnh sản phẩm"
        />
        <p>
          [New 100%] Dell Inspiron 14 5420 (Core i5-1240P, 16GB, 512GB, Iris Xe
          Graphics, 14" 2K+)
        </p>
        <div class="product_price">
          <span><i class="product_price_new">17.790.000</i> </span>

          <span><s class="product_price_old">14.790.000</s> </span>
        </div>
      </div>
      <div class="product_discount">-5%</div>
    </div>
    <!-- end product -->

    <!-- product -->
    <div class="col-md-3 col-sm-4 product">
      <div>
        <img
          src="assets/User/images/cc1.jpg"
          class="product_image"
          alt="ảnh sản phẩm"
        />
        <p>
          [New 100%] Dell Inspiron 14 5420 (Core i5-1240P, 16GB, 512GB, Iris Xe
          Graphics, 14" 2K+)
        </p>
        <div class="product_price">
          <span><i class="product_price_new">17.790.000</i> </span>

          <span><s class="product_price_old">14.790.000</s> </span>
        </div>
      </div>
      <div class="product_discount">-5%</div>
    </div>
    <!-- end product -->

    <!-- product -->
    <div class="col-md-3 col-sm-4 product">
      <div>
        <img
          src="assets/User/images/cc1.jpg"
          class="product_image"
          alt="ảnh sản phẩm"
        />
        <p>
          [New 100%] Dell Inspiron 14 5420 (Core i5-1240P, 16GB, 512GB, Iris Xe
          Graphics, 14" 2K+)
        </p>
        <div class="product_price">
          <span><i class="product_price_new">17.790.000</i> </span>

          <span><s class="product_price_old">14.790.000</s> </span>
        </div>
      </div>
      <div class="product_discount">-5%</div>
    </div>
    <!-- end product -->
    <!-- product -->
    <div class="col-md-3 col-sm-4 product">
      <div>
        <img
          src="assets/User/images/cc1.jpg"
          class="product_image"
          alt="ảnh sản phẩm"
        />
        <p>
          [New 100%] Dell Inspiron 14 5420 (Core i5-1240P, 16GB, 512GB, Iris Xe
          Graphics, 14" 2K+)
        </p>
        <div class="product_price">
          <span><i class="product_price_new">17.790.000</i> </span>

          <span><s class="product_price_old">14.790.000</s> </span>
        </div>
      </div>
      <div class="product_discount">-5%</div>
    </div>
    <!-- end product -->
  </div>
</main>
