.product{
    position: relative;

}
.product >div{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 80%;
    height: 100%;
    margin: auto;
    font-size: 12px;
    font-weight: 500;
    padding: 5px;
}
.product_image{
    width: 90%;
    height: 50%;
    margin: 15px 15px;
    transition: transform 0.4s ease-in-out;

}
.product_image:hover{
    transform: scale(1.1, 1.1);
    

}

.product_price{
    display: flex;
    justify-content: space-evenly;
}
.product_price_new{
    font-size: 16px ;
    color: red;
    font-weight:700;
}
.product_price_old{
    font-size: 16px ;
    font-weight: 500;
    color: #aaa;

}
.product_discount{
    position: absolute;
    top:20px;
    left:35px;
    width: 40px !important;
    height: 40px !important;
    background-color: red;
    color: white;
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center

}


