<div class="container ">
    <div class="row" style="min-height: 400px;overflow: scroll;">
        <div *ngFor="let imagePath of imagePaths" class="col-1">
            <img src="http://localhost:3001/uploads/category/{{imagePath}}" (click)="onFileSelected(imagePath)" style="height:50px; margin: 15px; border: 1px solid black;" alt="Image">
        </div>
    </div>
    <div>
        <button class="btn btn-danger m-2" [disabled]="!FileSelected"  (click)="onDelete()">Xóa</button>
        <input type="file" class="btn btn-primary m-2" (change)="upload($event)" style="color: transparent;width: 106px;">
        <button class="btn btn-primary m-2">Chọn</button>

    </div>

    
</div>